<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="{% url 'index' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">From Date</label>
                            <div class="control">
                                <input class="input" type="date" name="from_date">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">To Date</label>
                            <div class="control">
                                <input class="input" type="date" name="to_date">
                            </div>
                        </div>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="city" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if weather %}
                        <div class="box">
                            {% for item in weather %}
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-50x50">
                                                <img src="{{ item.image }}" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <span class="title">{{ item.city }}</span>
                                                    <br>
                                                    <span class="subtitle">{{ item.temperature }}° C</span>
                                                    <br> {{ item.date }}
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="box">
                            <span>{{ error }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>
